<!doctype html>
<html lang="fr-FR">
<head>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PXZT82H');</script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="profile" href="https://gmpg.org/xfn/11" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,800" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<title>Kliner - Utilisez l&#039;Appli du Ménage pour trouver une aide ménagère</title>

<meta name="description" content="C&#039;est facile à utiliser, les aides ménagères sont qualifiées, le service est de qualité et nous continuons à l&#039;améliorer. Le ménage dès 20€/h." />
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<link rel="canonical" href="https://www.kliner.com/" />
<meta property="og:locale" content="fr_FR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Kliner - Utilisez l&#039;Appli du Ménage pour trouver une aide ménagère" />
<meta property="og:description" content="C&#039;est facile à utiliser, les aides ménagères sont qualifiées, le service est de qualité et nous continuons à l&#039;améliorer. Le ménage dès 20€/h." />
<meta property="og:url" content="https://www.kliner.com/" />
<meta property="og:site_name" content="Kliner" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="C&#039;est facile à utiliser, les aides ménagères sont qualifiées, le service est de qualité et nous continuons à l&#039;améliorer. Le ménage dès 20€/h." />
<meta name="twitter:title" content="Kliner - Utilisez l&#039;Appli du Ménage pour trouver une aide ménagère" />
<script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://www.kliner.com/#website","url":"https://www.kliner.com/","name":"Kliner","description":"Soci\u00e9t\u00e9 de m\u00e9nage","potentialAction":{"@type":"SearchAction","target":"https://www.kliner.com/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"https://www.kliner.com/#webpage","url":"https://www.kliner.com/","inLanguage":"fr-FR","name":"Kliner - Utilisez l&#039;Appli du M\u00e9nage pour trouver une aide m\u00e9nag\u00e8re","isPartOf":{"@id":"https://www.kliner.com/#website"},"datePublished":"2019-04-04T08:58:15+00:00","dateModified":"2019-08-30T09:50:58+00:00","description":"C'est facile \u00e0 utiliser, les aides m\u00e9nag\u00e8res sont qualifi\u00e9es, le service est de qualit\u00e9 et nous continuons \u00e0 l'am\u00e9liorer. Le m\u00e9nage d\u00e8s 20\u20ac/h."}]}</script>

<link rel='dns-prefetch' href='//s.w.org' />
<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.kliner.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.2"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='wp-block-library-css' href='https://www.kliner.com/wp-includes/css/dist/block-library/style.min.css?ver=5.3.2' media='all' />
<link rel='stylesheet' id='wp-pagenavi-css' href='https://www.kliner.com/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70' media='all' />
<link rel='stylesheet' id='moove_gdpr_frontend-css' href='https://www.kliner.com/wp-content/plugins/gdpr-cookie-compliance/dist/styles/gdpr-main.css?ver=4.1.2' media='all' />
<script type='text/javascript' src='https://www.kliner.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'></script>
<script type='text/javascript' src='https://www.kliner.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<link rel='https://api.w.org/' href='https://www.kliner.com/wp-json/' />
<link rel="alternate" type="application/json+oembed" href="https://www.kliner.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.kliner.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.kliner.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.kliner.com%2F&#038;format=xml" />
<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style><link rel="icon" href="https://www.kliner.com/wp-content/uploads/2019/05/favicon-kliner-150x150.png" sizes="32x32" />
<link rel="icon" href="https://www.kliner.com/wp-content/uploads/2019/05/favicon-kliner-270x269.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="https://www.kliner.com/wp-content/uploads/2019/05/favicon-kliner-270x269.png" />
<link href="../assets/css/header_container.css" rel="stylesheet">
<meta name="msapplication-TileImage" content="https://www.kliner.com/wp-content/uploads/2019/05/favicon-kliner-400x398.png" />
</head>
<style>
  @media (min-width: 375px) and (max-width: 667px) {
    .top-header{
        height: 73vh !important;
      }
    }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .top-header{
        height: 547px !important;
      }
    }
  
  @media (min-width: 480px) {
    .top-header{
        height: 82vh;
      }
  }
</style>
<body class="home page-template page-template-page-home page-template-page-home-php page page-id-165 menage">

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXZT82H"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<header id="header" class="header">
<div class="container-middle">
<nav class="nav nav--header">
<ul class="menu">
<li><a href='https://www.kliner.com/devenir-partenaire/'>DEVENIR AIDE MÉNAGÈRE</a></li>
</ul>
<a href="https://www.kliner.com"><img src="https://www.kliner.com/wp-content/themes/kliner/assets/img/logo-white.png" width="80" alt="kliner"></a>
<ul class="menu menu--right">
<li><a href='https://v2.kliner.com/espaceclient/login' class="esp" target="_blank">ESPACE PRIVÉ</a></li>
</ul>
</nav>
<nav class="nav nav--mobile nav--mobile-left">
<ul class="menu">
<li><a href="https://www.kliner.com/menage-a-domicile">Ménage à domicile</a></li>
<li><a href="https://www.kliner.com/menage-airbnb">Ménage airbnb</a></li>
<li><a href="https://www.kliner.com/nettoyage-de-bureau">Nettoyage de bureaux</a></li>
<li><a href='https://www.kliner.com/femme-de-menage'>Femme de ménage</a></li>
<li><a href='https://www.kliner.com/a-propos-de-nous'>Notre histoire</a></li>
<li><a href='https://www.kliner.com/application-du-menage'>L’application du ménage</a></li>
<li><a href="http://support.kliner.com/">Centre d’aide </a></li>
<li><a href='https://www.kliner.com/devenir-partenaire' class="button-rounded">Devenir Aide ménagère</a></li>
</ul>
</nav>
<a href="https://www.kliner.com">
<div class="logo-mobile">
<img src="https://www.kliner.com/wp-content/themes/kliner/assets/img/logo-white.png" width="80" alt="kliner">
</div>
</a>
<a href="https://www.kliner.com" class="button-collapse header-button-collapse button-collapse-left">
<i class="fas fa-bars"></i>
<i class="fas fa-times"></i>
</a>
<a href="https://v2.kliner.com/espaceclient/login" class="button-collapse  button-shopping-bag">
<i class="fas fa-shopping-bag"></i>
</a>
</div>
</header>
<section class="top-header" style="background-image: url(https://www.kliner.com/wp-content/themes/kliner/assets/img/header_home.png);">
<div class="menu">
<ul>
<li>
<a href="https://www.kliner.com" class="active">
<img src="https://www.kliner.com/wp-content/themes/kliner/assets/img/home-icone.jpg" />
<p> Kliner </p>
</a>
</li>
<li>
<a href="https://www.kliner.com/menage-a-domicile/">
<img src="https://www.kliner.com/wp-content/themes/kliner/assets/img/maison-icone-fond-blanc.png" />
<p> Ménage à domicile </p>
</a>
</li>
<li>
<a href="https://www.kliner.com/nettoyage-de-bureau/">
<img src="https://www.kliner.com/wp-content/themes/kliner/assets/img/bureau-icone-fond-blanc.png" />
<p> Nettoyage de bureaux </p>
</a>
</li>
<li>
<a href="https://www.kliner.com/menage-airbnb/">
<img src="https://www.kliner.com/wp-content/themes/kliner/assets/img/airbnb-icone-fond-blanc.png" />
<p> Ménage AirBnB </p>
</a>
</li>
</ul>
<br>
<div class="menu-content">
<h1>La façon la plus simple de <br>trouver une aide ménagère qualifiée.</h1>
<h4 style="font-weight: 200;">Essayez le ménage qui satisfait 93% des clients.</h4>
<br><br>
<div class="text-center text-sm-left">
<a href="http://kliner.app.link" onclick="ga('send', 'RDV', 'clic', 'Prendre rendez-vous' );" class="btn btn-big">Réservez une aide ménagère<i class="fas fa-arrow-right"></i></a>
</div>
</div>
</div>
</section>
<section class="top-header-mobile">
<img src="https://www.kliner.com/wp-content/themes/kliner/assets/img/header_home.png" />
</section>
<section class="bg-lgrey section-pdt-2">
<div class="container bg-white p-0 pb-5 p-sm-5 text-center text-sm-left">
<div class="row d-flex align-items-center">
<div class="col-sm-5">
<div class="block p-4 pb-0">
<h2 class="h2">Une aide ménagère comme vous en rêviez. Plus vite que vous ne le pensiez.</h2>
<p><p>Le monde regorge d’aides ménagères exceptionnelles. L’application Kliner leur permet de s’exprimer. Grâce à notre technologie prédictive, Kliner vous dépêche l’homme ou la femme de ménage la plus susceptible d’effectuer la meilleure prestation en fonction de vos besoins. Hallucinant? Oui. C’est tout juste la meilleure solution pour trouver une fée du logis en un claquement de doigt.</p>
</p>
<a href="https://www.kliner.com/application-du-menage/" class="more">
Découvrir l’appli du ménage <i class="fa fa-angle-right fa-1" aria-hidden="true"></i>
</a>
</div>
</div>
<div class="col-sm-7">
<div class="block">
<div class="blockImage" style="background-image:url('https://www.kliner.com/wp-content/uploads/2019/05/application-aides-menage-final-second.jpg'); background-size:185%; background-position: center; background-repeat: no-repeat"></div>
</div>
</div>
</section>
<section class="bg-lgrey section-pdt-3">
<div class="container mt-0 p-0 p-sm-3">
<div class="row d-flex align-items-center">
<div class="col-sm-8">
<div class="blockImage" style="background-image:url('https://www.kliner.com/wp-content/uploads/2019/04/aide-menagere-chez-kliner-768x509.jpg'); background-size:cover; background-position: center; background-repeat: no-repeat"></div>
</div>
<div class="col-sm-4">
<div class="blockShadow negRight">
<h2 class="h2">Nos aides ménagères sont les meilleures pour une raison.</h2>
<p><p>Derrière chaque commande, il y a un homme, une femme de ménage, qui quitte sa maison pour s'occuper de celle d'un autre. <br>
Conscients de leurs efforts, nous donnons le maximun pour améliorer leur quotidien.</p>
</p>
<a href="https://www.kliner.com/femme-de-menage/" class="more">
Découvrez le coeur qui bat en Kliner<i class="fa fa-angle-right fa-1" aria-hidden="true"></i>
</a>
</div>
</div>
</div>
</div>
</section>
<section class="bg-lgrey section-pdt-4">
<div class="container">
<div class="row d-flex align-items-center inv">
<div class="col-sm-4">
<div class="blockShadow negLeft">
<h2 class="h2">Client ou aide ménagère, notre centre d'aide est là pour vous.</h2>
<p><p>Nous publions sur notre centre d'aide toutes les réponses aux questions que vous nous posez. Besion d'une précision? La réponse est probalement déja ici.</p></p>
<a href="https://support.kliner.com" class="more">
Visitez le centre d'aide <i class="fa fa-angle-right fa-1" aria-hidden="true"></i>
</a>
</div>
</div>
<div class="col-sm-8">
<div class="block">
<div class="blockImage" style="background-image:url('https://www.kliner.com/wp-content/themes/kliner/assets/img/centre_daide.png'); background-size:cover; background-position: center; background-repeat: no-repeat"></div>
</div>
</div>
</div>
</div>
</section>
<section class="bg-lgrey section-pdt-3">
<div class="container mt-0 p-0 p-sm-3">
<div class="row d-flex align-items-center">
<div class="col-sm-8">
<div class="blockImage" style="background-image:url('https://www.kliner.com/wp-content/uploads/2019/04/societes-de-menage-kliner-768x512.jpg'); background-size:cover; background-position: center; background-repeat: no-repeat"></div>
</div>
<div class="col-sm-4">
<div class="blockShadow negRight">
<h2 class="h2">Sociétés de ménage, rejoignez-nous. Où que vous soyez.</h2>
<p>Kliner vous apporte les clients sans que vous n'ayez à bouger le petit doigt, ni à payer le moindre euro. Une seule condition: fournir des prestations de ménage de qualité.</p>
<a href="https://www.kliner.com/devenir-partenaire/" class="more">
Rejoindre notre réseau de sociétés de ménage<i class="fa fa-angle-right fa-1" aria-hidden="true"></i>
</a>
</div>
</div>
</div>
</div>
</section>
<section class="bg-white section-pdt-5">
<div class="container mt-5 mb-5 text-center text-sm-center">
<div class="row mb-5">
<div class="col-sm-4 pb-5 pb-sm-0">
<img src="https://www.kliner.com/wp-content/uploads/2019/04/capture-decran-2019-04-04-a-21.51.53.png" alt="" width="50px">
<h3 class="mt-3">À propos de nous</h3>
<p>Notre histoire, nos valeurs, nos ambitions. Immersion au cœur d’un incroyable voyage.</p>
<a href="https://www.kliner.com/avis-mieux-nous-connaitre/" class="link orange more">
Tout savoir sur Kliner <i class="fa fa-angle-right fa-1" aria-hidden="true"></i>
</a>
</div>
<div class="col-sm-4 pb-5 pb-sm-0">
<img src="https://www.kliner.com/wp-content/uploads/2019/04/capture-decran-2019-04-04-a-21.58.18.png" alt="" width="50px">
<h3 class="mt-3">Communauté</h3>
<p>Retrouvez l’actualité Kliner et découvrez CADRES Forum, le blog qui vous inspire.
</p>
<a href="https://www.kliner.com/blog/" class="link orange more">
Inspirez-vous <i class="fa fa-angle-right fa-1" aria-hidden="true"></i>
</a>
</div>
<div class="col-sm-4 pb-5 pb-sm-0">
<img src="https://www.kliner.com/wp-content/uploads/2019/04/capture-decran-2019-04-04-a-22.11.41.png" alt="" width="50px">
<h3 class="mt-3">Nos villes</h3>
<p>Nous allons partout où clients et aides ménagèges ont besoin de nous.</p>
<a href="https://www.kliner.com/femme-de-menage/tarifs" class="link orange more">
Explorez<i class="fa fa-angle-right fa-1" aria-hidden="true"></i>
</a>
</div>
</div>
</div>
</section>
<section class="bg-white section-pdt-6">
<div class="container p-3 p-sm-0">
<div class="row inv pb-3 pb-sm-0">
<div class="col-sm-6">
<h2>Libérez-vous des tâches ménagères.</h2>
<p><p>Depuis la révolution numérique, l’innovation technologique a permis de construire à grande échelle des services performants, utiles et à moindre coût.</p>
<p>Partout où nous sommes allés, nous avons perçu votre détresse face à la difficulté de trouver une aide ménagère de qualité, fiable, à un tarif accessible.</p>
<p>C’est pourquoi ces dernières années nous avons travaillé sans relâche à améliorer nos prestations de ménage et repassage à domicile. Nous avons étoffé notre offre avec des services de ménage AirBnB et denettoyage de bureaux. Nous avons innové comme jamais pour vous permettre de commander en toute simplicité.</p>
<p>Les milliers de commentaires que vous nous avez adressés lors de nos premiers pas ont été d’une aide inestimable.</p>
<p>Aujourd’hui nous sommes heureux de vous proposer la toute nouvelle application du ménage. Vous pouvez désormais faire appel à un homme ou une femme de ménage quand vous voulez, avec une forte promesse de satisfaction à la clé.</p>
<p>La commande est simple, la réponse est immédiate, le service est de qualité…</p>
<p>Et nous continuons à l’améliorer.</p>
 </p>
<a onclick="ga('send', 'TROUVER', 'clic', 'http://kliner.app.link/' );" href="http://kliner.app.link/" class="btn btn-empty mb-3 btn-mt-30" target="blank">
Trouvez une aide ménagère <i class="fas fa-arrow-right"></i>
</a>
</div>
<div class="offset-sm-1 col-sm-5 pb-3 pb-sm-0">
<div class="blockImage" style="background-image:url('https://www.kliner.com/wp-content/uploads/2019/04/femme-de-menage-souriante-kliner.png'); background-size:cover; background-position: center; background-repeat: no-repeat; min-height: 100%;"></div>
</div>
</div>
</div>
</section>
</div>
<footer class="footer">
<nav class="nav nav--footer">
<a href="https://www.kliner.com" class="footer-logo">
<img src="https://www.kliner.com/wp-content/themes/kliner/assets/img/logo-white.png" width="80" alt="kliner" />
</a>
<div class="d-flex flex-fill align-items-center inv">
<ul class="menu" style="margin-right: -110px;">
<li><a href="https://www.kliner.com/application-du-menage">L’APPLICATION DU MÉNAGE</a></li>
<li><a href="https://www.kliner.com/femme-de-menage">FEMME DE MÉNAGE</a></li>
<li><a href="https://www.kliner.com/blog">BLOG</a></li>
<li><a href="https://www.kliner.com/conditions-generales">CONDITIONS</a></li>
<li><a href="https://support.kliner.com">CENTRE D'AIDE</a></li>
</ul>
</div>
<div class="rs">
<ul>
<li style="padding: inherit !important;">
<a href="https://itunes.apple.com/us/app/kliner-lapp-du-ménage/id1108241923?l=fr&ls=1&mt=8" target="blank" title="Kliner sur Itunes">
<img src="https://www.kliner.com/wp-content/themes/kliner/assets/img/ios-appstore.png" height="30" />
</a>
</li>
<li style="padding-right: inherit !important;">
<a href="https://play.google.com/store/apps/details?id=kliner.app.client" target="blank" title="Kliner sur Google Play Store">
<img src="https://www.kliner.com/wp-content/themes/kliner/assets/img/google-playstore.png" height="30" />
</a>
</li>
</ul>
</div>
</nav>
</footer>
</div>
<div id="moove_gdpr_cookie_info_bar" class="moove-gdpr-info-bar-hidden moove-gdpr-align-center moove-gdpr-dark-scheme gdpr_infobar_postion_bottom">
<div class="moove-gdpr-info-bar-container">
<div class="moove-gdpr-info-bar-content">
<div class="moove-gdpr-cookie-notice">
<p>Nous utilisons des cookies pour vous offrir la meilleure expérience sur notre site.</p><p>En savoir plus ou ajuster vos <span data-href="#moove_gdpr_cookie_modal" class="change-settings-button">réglages</span>.</p></div>
 <div class="moove-gdpr-button-holder">
<button class="mgbutton moove-gdpr-infobar-allow-all">Accepter</button>
</div>
 </div>

</div>

</div>

<link rel='stylesheet' id='bootstrap-css' href='https://www.kliner.com/wp-content/themes/kliner/assets/css/bootstrap.min.css?ver=1.0' media='all' />
<link rel='stylesheet' id='slick-css' href='https://www.kliner.com/wp-content/themes/kliner/assets/js/vendor/slick.css?ver=1.0' media='all' />
<link rel='stylesheet' id='main-css' href='https://www.kliner.com/wp-content/themes/kliner/assets/css/main.css?ver=1.6.5' media='all' />
<script type='text/javascript'>
/* <![CDATA[ */
var moove_frontend_gdpr_scripts = {"ajaxurl":"https:\/\/www.kliner.com\/wp-admin\/admin-ajax.php","post_id":"165","plugin_dir":"https:\/\/www.kliner.com\/wp-content\/plugins\/gdpr-cookie-compliance","is_page":"1","strict_init":"1","enabled_default":{"third_party":0,"advanced":0},"geo_location":"false","force_reload":"false","is_single":"","current_user":"0","load_lity":"true","cookie_expiration":"365"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.kliner.com/wp-content/plugins/gdpr-cookie-compliance/dist/scripts/main.js?ver=4.1.2'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://www.kliner.com/wp-content/themes/kliner/assets/js/vendor/bootstrap.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://www.kliner.com/wp-content/themes/kliner/assets/js/vendor/slick.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://www.kliner.com/wp-content/themes/kliner/assets/js/vendor/jquery.validate.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://www.kliner.com/wp-content/themes/kliner/assets/js/main.js?ver=1.5'></script>
<script type='text/javascript' src='https://www.kliner.com/wp-includes/js/wp-embed.min.js?ver=5.3.2'></script>
<style>
	#moove_gdpr_cookie_modal,#moove_gdpr_cookie_info_bar,.gdpr_cookie_settings_shortcode_content{font-family:Nunito,sans-serif}#moove_gdpr_save_popup_settings_button{background-color:#373737;color:#fff}#moove_gdpr_save_popup_settings_button:hover{background-color:#000}#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton,#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton{background-color:#0C4DA2}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton,.gdpr_cookie_settings_shortcode_content .gdpr-shr-button.button-green{background-color:#0C4DA2;border-color:#0C4DA2}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton:hover,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton:hover,.gdpr_cookie_settings_shortcode_content .gdpr-shr-button.button-green:hover{background-color:#fff;color:#0C4DA2}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon{background-color:#0C4DA2;border:1px solid #0C4DA2}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover{color:#0C4DA2}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected a span.gdpr-icon,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected button span.gdpr-icon{color:inherit}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li:hover a,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li:hover button{color:#000}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a span.gdpr-icon,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button span.gdpr-icon{color:inherit}#moove_gdpr_cookie_modal .gdpr-acc-link{line-height:0;font-size:0;color:transparent;position:absolute}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close:hover i,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button i,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a i,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content a:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button:hover,#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content span.change-settings-button:hover{color:#0C4DA2}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected a,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected button{color:#000}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected a i,#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected button i{color:#000}#moove_gdpr_cookie_modal.lity-hide{display:none}</style>
<div id="moove_gdpr_cookie_modal" class="lity-hide">
<div class="moove-gdpr-modal-content moove-clearfix logo-position-left moove_gdpr_modal_theme_v1">
<a href="#" class="moove-gdpr-modal-close" rel="nofollow"><span class="gdpr-icon moovegdpr-arrow-close"></span></a>
<div class="moove-gdpr-modal-left-content">
<div class="moove-gdpr-company-logo-holder">
<img src="https://www.kliner.com/wp-content/plugins/gdpr-cookie-compliance/dist/images/gdpr-logo.png" alt="Kliner" class="img-responsive" />
</div>
 <ul id="moove-gdpr-menu">
<li class="menu-item-on menu-item-privacy_overview menu-item-selected">
<button data-href="#privacy_overview" class="moove-gdpr-tab-nav"><span class="gdpr-icon moovegdpr-privacy-overview"></span> <span class="gdpr-nav-tab-title">Résumé de la politique de confidentialité</span></button>
</li>
<li class="menu-item-strict-necessary-cookies menu-item-off">
<button data-href="#strict-necessary-cookies" class="moove-gdpr-tab-nav"><span class="gdpr-icon moovegdpr-strict-necessary"></span> <span class="gdpr-nav-tab-title">Cookies strictement nécessaires</span></button>
</li>
</ul>
<div class="moove-gdpr-branding-cnt">
<a href="https://wordpress.org/plugins/gdpr-cookie-compliance" target="_blank" rel="noopener" class='moove-gdpr-branding'>Powered by GDPR extension</a>
</div>
 </div>

<div class="moove-gdpr-modal-right-content">
<div class="moove-gdpr-modal-title">
</div>

<div class="main-modal-content">
<div class="moove-gdpr-tab-content">
<div id="privacy_overview" class="moove-gdpr-tab-main">
<span class="tab-title">Résumé de la politique de confidentialité</span>
<div class="moove-gdpr-tab-main-content">
<p>Ce site utilise des cookies afin que nous puissions vous fournir la meilleure expérience utilisateur possible. Les informations sur les cookies sont stockées dans votre navigateur et remplissent des fonctions telles que vous reconnaître lorsque vous revenez sur notre site Web et aider notre équipe à comprendre les sections du site que vous trouvez les plus intéressantes et utiles.</p>
</div>

</div>
 <div id="strict-necessary-cookies" class="moove-gdpr-tab-main" style="display:none">
<span class="tab-title">Cookies strictement nécessaires</span>
<div class="moove-gdpr-tab-main-content">
<p>Cette option doit être activée à tout moment afin que nous puissions enregistrer vos préférences pour les réglages de cookie.</p>
<div class="moove-gdpr-status-bar ">
<form>
<fieldset>
<label class='gdpr-acc-link' for="moove_gdpr_strict_cookies">désactiver</label>
<label class="cookie-switch">
<input type="checkbox" value="check" name="moove_gdpr_strict_cookies" id="moove_gdpr_strict_cookies">
<span class="cookie-slider cookie-round" data-text-enable="Activé" data-text-disabled="Désactivé"></span>
</label>
</fieldset>
</form>
</div>

<div class="moove-gdpr-strict-warning-message" style="margin-top: 10px;">
<p>Si vous désactivez ce cookie, nous ne pourrons pas enregistrer vos préférences. Cela signifie que chaque fois que vous visitez ce site, vous devrez activer ou désactiver à nouveau les cookies.</p>
</div>

</div>

</div>

</div>

</div>

<div class="moove-gdpr-modal-footer-content">
<div class="moove-gdpr-button-holder">
<button class="mgbutton moove-gdpr-modal-allow-all button-visible">Tout activer</button>
<button class="mgbutton moove-gdpr-modal-save-settings button-visible">Enregistrer les réglages</button>
</div>
 </div>

</div>

<div class="moove-clearfix"></div>
</div>

</div>
</body>
</html>








